---
import AllPosts from '../../components/organisms/AllPosts.astro'
import Page from '../../components/templates/Page.astro'
---

<Page
	title="All blog posts"
	description="You'll find all the posts I published here on this site."
	structuredDataType="Blog"
>
	<div class="container">
		<h1>All blog posts</h1>
		<AllPosts />
	</div>
</Page>
