---
import Link from '../../components/atoms/Link.astro'

import Page from '../../components/templates/Page.astro'
---

<Page title="About" description="This is who I am." structuredDataType="Person">
	<div class="container content">
		<h1>Hi, I'm Chris</h1>
		<p>
			I am currently 33, I live in Dresden, Germany and I work as a senior front-end developer at
			<a href="https://www.queo.de/en">queo</a>.
		</p>
		<p>
			And I want this website to be a reflection of the topics that I work on or the tools that I work with. Which might
			just end up as a sandbox for me to try out the <em>hot new things</em> in HTML and CSS. But I also want to focus on
			accessibility and web performance. Since I truly believe that the web should be as resource-efficient and user-friendly
			as possible.
		</p>
		<p>
			So, I'm not so sure if this page will be a blog, some kind of portfolio or just a collection of things I find
			interesting. We'll find out together, I guess. Haha.
		</p>
		<p>
			Feel free to explore the few articles I have on my <a href="/blog">Blog</a> so far. Maybe you'll find something interesting.
		</p>
		<p>Until then, you can also find me on these plattforms:</p>
		<ul>
			<li>
				<Link href="https://indieweb.social/@christophervoigt" rel="me">Mastodon</Link>
			</li>
			<li>
				<Link href="https://github.com/christophervoigt" rel="me">GitHub</Link>
			</li>
			<li>
				<Link href="https://codepen.io/christophervoigt">CodePen</Link>
			</li>
		</ul>

		<p>Thank you for stopping by!</p>
		<p>Chris</p>
	</div>
</Page>
