---
import AllPosts from '../../components/molecules/AllPosts.astro'
import HomePage from '../../components/templates/HomePage.astro'
---

<HomePage>
  <main>
    <div class="container">
      <div class="content">
        <h1>Latest Posts</h1>
        <AllPosts />
      </div>
    </div>
  </main>
</HomePage>
