---
import LatestPosts from '../../components/molecules/LatestPosts.astro'
import HomePage from '../../components/templates/HomePage.astro'
---

<HomePage>
  <main>
    <div>
      <h1>Latest Posts</h1>
      <LatestPosts />
    </div>
  </main>
</HomePage>
