/* reset */
@import './reset.css';

/* basics */
@import './basics/color.css';
@import './basics/layout.css';
@import './basics/typography.css';

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* transformed markdown text blocks */
.content {
	& *:not(.sr-only) + :is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table) {
		margin-block-start: 1em;
	}

	& li:has(a[href]) + li {
		margin-block-start: 0.5em;
	}
}

.footnotes {
	margin-block-start: var(--space-s);
	padding-block-start: var(--space-s);
	border-block-start: 2px solid var(--border-color);
}

.posts {
	display: grid;
	gap: var(--grid-gutter);
	grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));

	margin-block-start: 1em;
}

/* Highlight elements */
.-highlight {
	--text-color: light-dark(var(--black), var(--white));
	--headline-color: light-dark(var(--black), var(--white));
	--link-background-color: light-dark(var(--white), var(--black));

	color: var(--headline-color);
	background: var(--highlight-gradient);
	border-radius: 0.5rem;

	clip-path: inset(0 0 0 0 round 0.5rem);
	filter: url(#grain);
}

/* Inline code */
:not(pre) > code {
	white-space: normal;
	padding-inline: 0.3em;
	padding-block: 0.1em;
	background: var(--code-background-color);
	color: var(--code-text-color);
	border-radius: 0.125em;
}

code,
pre[data-language] {
	font-family: 'Consolas', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[data-language] {
	padding-block: var(--space-xs-s);
	padding-inline: var(--space-xs-m);
	margin-inline: calc(-1 * var(--space-xs-m));

	overflow: auto;
	border-radius: 0.5rem;
}
