@font-face {
  font-family: 'Shantell Sans';
  src: url('/fonts/ShantellSans.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
