/* setup */
@import './setup/reset.css';
@import './setup/variables.css';

/* other */
@import './theme.css';
@import './fonts.css';
@import './layout.css';
@import './prism-code-style.css';

body {
  font-family: 'Source Serif 4', Georgia, 'Times New Roman', Times, serif;
  font-size: var(--step-0);
  line-height: 1.4;

  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Shantell Sans', 'Comic Sans MS', Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--step-5);
}

h2,
.h2 {
  font-size: var(--step-4);
}

h3,
.h3 {
  font-size: var(--step-3);
}

h4,
.h4 {
  font-size: var(--step-2);
}

h5,
.h5 {
  font-size: var(--step-1);
}

small {
  font-size: var(--step--1);
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-block-start: 1.5em;
}

.content * + p,
* + ul,
* + ol,
* + blockquote,
* + pre,
* + table,
* + .latest-posts,
.latest-posts + * {
  margin-block-start: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
strong,
b,
blockquote {
  color: var(--headline-color);
}

:not(pre) > code {
  background: var(--code-background-color);
  color: var(--code-text-color);
}

.highlight-container {
  color: var(--headline-color);
  background-color: var(--highlight-color);
  border-radius: 0.5rem;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

a[href]:not(.teaser) {
  color: var(--link-text-color);
  border-radius: 0.125em;
  outline: 0.1em solid transparent;
  text-decoration: none;
  padding-inline: 0.125em;

  background-image: linear-gradient(var(--link-background-color), var(--link-background-color));
  background-repeat: no-repeat;
  background-size: 100% 0.25rem;
  background-position: 0 100%;
  transition: background-size 0.2s ease-out;
}

a[href]:not(.teaser):hover,
a[href]:not(.teaser).active {
  background-size: 100% 100%;
}

a[href]:not(.teaser):focus {
  outline-color: var(--link-text-color);
}

a[href].teaser {
  color: var(--link-text-color);
  text-decoration: none;
}

a[href].teaser:focus {
  outline: 0;
}

a[href].teaser::after {
  content: '';
  position: absolute;
  inset: 0;
  cursor: pointer;
}

article {
  position: relative;
  outline: 0.1em solid transparent;
}

article:hover,
article:focus-within {
  outline-color: var(--link-text-color);
}

blockquote {
  font-style: italic;

  border-left: 0.375em solid var(--highlight-color);
  padding-inline: 1em;
  padding-block: 0.5em;
}
