@import './fonts.css';
@import './prism-code-style.css';

body {
  font-family: source-serif-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  margin: auto;
  max-width: 65ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Shantell Sans', 'Comic Sans MS', Helvetica, sans-serif;
  font-weight: 700;
  text-wrap: balance;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-block: 1.5em 0;
}

* + p,
* + ul,
* + ol,
* + blockquote,
* + pre,
* + table {
  margin-block: 1em 0;
}

main {
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
