body {
  container: root / inline-size;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header,
footer,
.container {
  max-inline-size: var(--container-max-inline-size);
  margin-inline: auto;
}

.yellow-container {
  padding-block: var(--space-xl-2xl);
}

.container + .container,
.yellow-container + .container,
.container + .yellow-container {
  margin-block-start: var(--space-xl-2xl);
}

main:has(> :last-child:not(.yellow-container)) + footer {
  /* add margin to footer if last element in main doen't have background */
  margin-block-start: var(--space-xl-2xl);
}

.content {
  max-inline-size: 65ch;
  margin-inline: auto;
}
