body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}

main {
  flex: 1;
}

header,
footer,
.container {
  margin-inline: auto;
  inline-size: 100%;
  max-inline-size: var(--max-width);
}

.bg-container {
  background-color: #ffc66d;
  padding-block: var(--space-xl-2xl);
}

.container + .container,
.bg-container + .container,
.container + .bg-container {
  margin-block-start: var(--space-xl-2xl);
}

main:has(> :last-child:not(.bg-container)) + footer {
  /* add margin to footer if last element in main doen't have background */
  margin-block-start: var(--space-xl-2xl);
}

.content {
  max-inline-size: 65ch;
  margin-inline: auto;
}
