/* Inline code */
:not(pre) > code {
  white-space: normal;
  background: #f2f2f2;
  color: #444;
  font-size: 1rem;
  line-height: 1.5;
  padding-inline: 0.3em;
  padding-block: 0.15em;
}

code,
pre[class*='language-'] {
  color: #f8f8f2;
  background: #2e2e2e;
  font-family: 'Consolas', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*='language-css'],
pre[class*='language-css'] {
  color: #b4c973;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #797979;
}

.token.punctuation {
  color: #ffc66d;
}

.namespace {
  opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.regex,
.token.important {
  color: #ffc66d;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.atrule > .rule {
  color: #cc7833;
}

.token.function {
  color: #c45837;
}

.token.atrule {
  color: #f8f8f2;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.property,
.token.boolean,
.token.keyword,
.token.number {
  color: #81a1c1;
}

.token.attr-value,
.token.class-name {
  color: #b4c973;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
