:root {
	/* colors */
	--blue-100: oklch(0.651 0.0281 218.11);
	--blue-200: oklch(0.5888 0.0339 220.15);
	--blue-300: oklch(0.5274 0.0394 217.06);
	--blue-400: oklch(0.4633 0.044 219.73);
	--blue-500: oklch(0.3969 0.0485 220.22); /* #264d59 */
	--blue-600: oklch(0.369 0.0446 220.62);
	--blue-700: oklch(0.3435 0.0408 218.26);
	--blue-800: oklch(0.3151 0.0359 219.12);
	--blue-900: oklch(0.2855 0.0316 219.56);

	--green-100: oklch(0.7734 0.0541 187.09);
	--green-200: oklch(0.7338 0.0621 186.6);
	--green-300: oklch(0.6974 0.0695 186.07);
	--green-400: oklch(0.658 0.0764 185.46);
	--green-500: oklch(0.6218 0.0828 184.85); /* #43978d */
	--green-600: oklch(0.5763 0.0765 184.92);
	--green-700: oklch(0.5303 0.0693 184.93);
	--green-800: oklch(0.4829 0.0626 185.04);
	--green-900: oklch(0.4343 0.0558 185.17);

	--yellow-100: oklch(0.9413 0.0759 95.32);
	--yellow-200: oklch(0.9329 0.0882 95.07);
	--yellow-300: oklch(0.924 0.0987 95.31);
	--yellow-400: oklch(0.916 0.11 95.04);
	--yellow-500: oklch(0.9073 0.1206 95.29); /* #F9E07F */
	--yellow-600: oklch(0.8389 0.1114 95.69);
	--yellow-700: oklch(0.7672 0.1002 95.21);
	--yellow-800: oklch(0.6958 0.0906 95.71);
	--yellow-900: oklch(0.6203 0.0798 95.28);

	--orange-100: oklch(0.8807 0.0732 63.29);
	--orange-200: oklch(0.8627 0.0862 62.86);
	--orange-300: oklch(0.8422 0.0982 61.87);
	--orange-400: oklch(0.825 0.1109 61.37);
	--orange-500: oklch(0.8071 0.1223 61.12); /* #f9ad6a */
	--orange-600: oklch(0.7466 0.1124 61.63);
	--orange-700: oklch(0.6832 0.1019 60.82);
	--orange-800: oklch(0.6199 0.0915 61.44);
	--orange-900: oklch(0.5552 0.0801 61.63);

	--red-100: oklch(0.7823 0.0781 36.83);
	--red-200: oklch(0.7468 0.0935 36.75);
	--red-300: oklch(0.7122 0.1092 36.72);
	--red-400: oklch(0.6792 0.1227 37.02);
	--red-500: oklch(0.6468 0.1384 36.94); /* #d46c4e */
	--red-600: oklch(0.5988 0.1275 36.89);
	--red-700: oklch(0.55 0.1164 36.82);
	--red-800: oklch(0.5003 0.1024 37.1);
	--red-900: oklch(0.4491 0.0906 37.04);

	--gray-50: oklch(100% 0 0);
	--gray-100: oklch(95% 0 0);
	--gray-200: oklch(88% 0 0);
	--gray-300: oklch(80% 0 0);
	--gray-400: oklch(72% 0 0);
	--gray-500: oklch(65% 0 0);
	--gray-600: oklch(58% 0 0);
	--gray-700: oklch(50% 0 0);
	--gray-800: oklch(42% 0 0);
	--gray-900: oklch(35% 0 0);
	--gray-1000: oklch(28% 0 0);

	/* gradients */
	/* @link https://www.joshwcomeau.com/gradient-generator/?from=newsletter */
	--gradient-blue-green: linear-gradient(
		135deg,
		hsl(194deg 40% 25%) 0%,
		hsl(193deg 42% 26%) 8%,
		hsl(191deg 43% 27%) 17%,
		hsl(190deg 44% 29%) 25%,
		hsl(188deg 45% 30%) 33%,
		hsl(186deg 45% 31%) 42%,
		hsl(185deg 45% 32%) 50%,
		hsl(183deg 44% 34%) 58%,
		hsl(181deg 43% 35%) 67%,
		hsl(179deg 42% 36%) 75%,
		hsl(177deg 41% 38%) 83%,
		hsl(175deg 40% 41%) 92%,
		hsl(173deg 39% 43%) 100%
	);

	--gradient-green-yellow: linear-gradient(
		135deg,
		hsl(173deg 39% 43%) 0%,
		hsl(168deg 36% 46%) 8%,
		hsl(161deg 33% 49%) 17%,
		hsl(153deg 32% 53%) 25%,
		hsl(144deg 32% 57%) 33%,
		hsl(131deg 32% 61%) 42%,
		hsl(114deg 34% 64%) 50%,
		hsl(98deg 39% 65%) 58%,
		hsl(85deg 44% 65%) 67%,
		hsl(74deg 49% 66%) 75%,
		hsl(64deg 54% 67%) 83%,
		hsl(55deg 67% 69%) 92%,
		hsl(48deg 91% 74%) 100%
	);

	--gradient-yellow-orange: linear-gradient(
		135deg,
		hsl(48deg 91% 74%) 0%,
		hsl(46deg 92% 73%) 8%,
		hsl(44deg 93% 73%) 17%,
		hsl(42deg 93% 72%) 25%,
		hsl(40deg 94% 72%) 33%,
		hsl(39deg 94% 72%) 42%,
		hsl(37deg 94% 71%) 50%,
		hsl(36deg 94% 71%) 58%,
		hsl(34deg 94% 71%) 67%,
		hsl(33deg 94% 70%) 75%,
		hsl(31deg 94% 70%) 83%,
		hsl(30deg 93% 70%) 92%,
		hsl(28deg 92% 70%) 100%
	);

	--gradient-orange-red: linear-gradient(
		315deg,
		hsl(28deg 92% 70%) 0%,
		hsl(27deg 89% 68%) 8%,
		hsl(26deg 86% 67%) 17%,
		hsl(25deg 83% 66%) 25%,
		hsl(24deg 80% 65%) 33%,
		hsl(22deg 78% 64%) 42%,
		hsl(21deg 75% 63%) 50%,
		hsl(20deg 73% 62%) 58%,
		hsl(19deg 70% 61%) 67%,
		hsl(18deg 68% 60%) 75%,
		hsl(16deg 65% 59%) 83%,
		hsl(15deg 63% 58%) 92%,
		hsl(13deg 61% 57%) 100%
	);

	/* this has to be set to switch between light or dark */
	--background-color: light-dark(var(--gray-50), var(--gray-1000));
	--highlight-color: light-dark(var(--orange-400), var(--green-700));
	--highlight-gradient: linear-gradient(
		135deg,
		light-dark(var(--red-500), var(--blue-500)) 0%,
		light-dark(var(--orange-500), var(--green-500)) 100%
	);

	--text-color: light-dark(var(--gray-900), var(--gray-100));
	--headline-color: light-dark(var(--gray-900), var(--gray-100));

	--link-text-color: light-dark(var(--gray-1000), var(--gray-50));
	--link-background-color: light-dark(var(--orange-400), var(--green-700));

	--code-text-color: light-dark(var(--gray-1000), var(--gray-50));
	--code-background-color: light-dark(var(--gray-200), var(--gray-800));

	--border-color: light-dark(var(--gray-300), var(--gray-700));

	color-scheme: light dark;
}

/* If user prefers a light appearance */
@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
	}
}

/* If user prefers a dark appearance */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}
