---
import { getCollection, render } from 'astro:content'

import Page from '../../components/templates/Page.astro'

export async function getStaticPaths() {
	const posts = await getCollection('dungeons-and-dragons')

	return posts.map((post) => {
		const { slug } = post

		return {
			params: { slug },
			props: { post },
		}
	})
}

const { post } = Astro.props
const { data } = post
const { name } = data
const { Content } = await render(post)
---

<Page title={name} description={''}>
	<div class="container content">
		<h1>{name}</h1>

		<Content />
	</div>
</Page>
