:root {
  --content-max-width: clamp(18rem, 90cqi, var(--grid-max-width));
  --contentWrapper-background: limegreen;
  --contentWrapper-vertical-padding: 2rem;
  --content-space-between: 2rem;
}

.content {
  margin-inline: auto;
  max-inline-size: var(--content-max-width);
}

.contentWrapper {
  background-color: var(--contentWrapper-background);
  padding-block: var(--contentWrapper-vertical-padding);
}

.content + .content,
.contentWrapper + .content,
.content + .contentWrapper {
  margin-block-start: var(--content-space-between);
}
