---
import LatestPosts from '../components/molecules/LatestPosts.astro'
import HomePage from '../components/templates/HomePage.astro'
---

<HomePage>
  <main>
    <div>
      <h1>Hi, I'm Chris 👋</h1>
      <p>
        I am currently working as a front-end developer at <a href="https://www.queo.de/">queo</a> in Dresden, Germany. And
        this blog aims to reflect the topics that I work on or the tools that I work with.
      </p>
      <p>
        I am very new to blogging. And as most of the developers I know, I am usually not known for finishing side
        projects that I start. So I am sorry in advance, if there hasn't been a recent post in quite some time. I try my
        best.
      </p>
      <p>
        That's all for now. Feel free to explore the <a href="/blog">Blog</a>.
      </p>
      <p>Chris</p>
    </div>

    <div>
      <h2>Latest Posts</h2>
      <LatestPosts />
    </div>
  </main>
</HomePage>
