---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi, I'm Chris 👋</h1>
      <p>
        I am currently working as a front-end developer at <a href="https://www.queo.de/">queo</a> in Dresden, Germany.
      </p>
      <p>This blog aims to reflect the topics that I work on or the tools that I work with.</p>
      <p>Currently there is not much going on here. You can find some dummy blog posts and my social media links.</p>
      <p>
        I am also very new to blogging. And as most of the developers I know, I am usually not known for finishing side
        projects that I start. So I am sorry in advance, if there hasn't been a recent post in quite some time on this
        page. I try my best.
      </p>
      <p>
        Besides web development I'm also interested in cooking, plants and all sorts of music. Which means that there
        might be posts that are more off-topic then the rest.
      </p>
      <p>Well, that's all for now. But no matter how you got here, thanks for exploring my blog. :)</p>
      <p>Chris</p>
    </main>
    <Footer />
  </body>
</html>
