---
import { SITE_DESCRIPTION } from '../consts'

import LatestPosts from '../components/organisms/LatestPosts.astro'
import Page from '../components/templates/Page.astro'
---

<Page title="Christopher Voigt" description={SITE_DESCRIPTION} structuredDataType="WebSite">
	<div class="container content">
		<h1>Christopher Voigt</h1>
		<p>I'm a front-end web developer and this is my place on the internet.</p>
	</div>

	<div class="container">
		<h2>Latest blog posts</h2>
		<LatestPosts />
	</div>
</Page>
