:root {
  /* font sizes */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1215,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,m,2xl,12 */
  --step--2: clamp(0.72rem, calc(0.82rem + -0.13vw), 0.79rem);
  --step--1: clamp(0.89rem, calc(0.88rem + 0.02vw), 0.9rem);
  --step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --step-1: clamp(1.13rem, calc(1.02rem + 0.5vw), 1.41rem);
  --step-2: clamp(1.27rem, calc(1.09rem + 0.88vw), 1.76rem);
  --step-3: clamp(1.42rem, calc(1.15rem + 1.38vw), 2.2rem);
  --step-4: clamp(1.6rem, calc(1.19rem + 2.05vw), 2.75rem);
  --step-5: clamp(1.8rem, calc(1.22rem + 2.92vw), 3.43rem);

  /* spaces */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1215,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,m,2xl,12 */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.48rem + 0.11vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --space-m: clamp(1.5rem, calc(1.43rem + 0.34vw), 1.69rem);
  --space-l: clamp(2rem, calc(1.91rem + 0.45vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.87rem + 0.67vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.82rem + 0.89vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.73rem + 1.34vw), 6.75rem);

  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.56vw), 0.56rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.37rem + 0.67vw), 0.88rem);
  --space-xs-s: clamp(0.75rem, calc(0.62rem + 0.67vw), 1.13rem);
  --space-s-m: clamp(1rem, calc(0.75rem + 1.23vw), 1.69rem);
  --space-m-l: clamp(1.5rem, calc(1.23rem + 1.34vw), 2.25rem);
  --space-l-xl: clamp(2rem, calc(1.51rem + 2.46vw), 3.38rem);
  --space-xl-2xl: clamp(3rem, calc(2.46rem + 2.68vw), 4.5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.02rem + 4.92vw), 6.75rem);

  /* grid */
  /* @link https://utopia.fyi/grid/calculator?c=320,16,1.125,1215,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,m,2xl,12 */
  --grid-max-inline-size: 75rem;
  --grid-gutter: var(--space-s-m);
  --grid-columns: 12;

  --content-width: 60ch;

  /* colors */

  /* primary */
  --green-100: oklch(95% 0.1 175);
  --green-200: oklch(88% 0.099 174); /* #8eedd2 */
  --green-300: oklch(80% 0.098 173); /* #75d3b8 */
  --green-400: oklch(72% 0.097 172);
  --green-500: oklch(65% 0.096 171);
  --green-600: oklch(58% 0.095 170);
  --green-700: oklch(50% 0.094 169); /* #14745a */
  --green-800: oklch(42% 0.093 168); /* #1f5b45 */
  --green-900: oklch(35% 0.092 167);

  /* secondary */
  --yellow-100: oklch(95% 0.15 90);
  --yellow-200: oklch(88% 0.149 89); /* #f8d36a */
  --yellow-300: oklch(80% 0.148 88);
  --yellow-400: oklch(72% 0.147 87);
  --yellow-500: oklch(65% 0.146 86);
  --yellow-600: oklch(58% 0.145 85);
  --yellow-700: oklch(50% 0.144 84);
  --yellow-800: oklch(42% 0.143 83);
  --yellow-900: oklch(35% 0.142 82);

  --gray-50: oklch(100% 0 0);
  --gray-100: oklch(95% 0 0);
  --gray-200: oklch(88% 0 0);
  --gray-300: oklch(80% 0 0);
  --gray-400: oklch(72% 0 0);
  --gray-500: oklch(65% 0 0);
  --gray-600: oklch(58% 0 0);
  --gray-700: oklch(50% 0 0);
  --gray-800: oklch(42% 0 0);
  --gray-900: oklch(35% 0 0);
  --gray-1000: oklch(28% 0 0);

  /* gradients */
  /* @link https://www.joshwcomeau.com/gradient-generator/?from=newsletter */
  --gradient-dawn: linear-gradient(
    180deg,
    hsl(158deg 49% 24%) 0%,
    hsl(159deg 49% 28%) 42%,
    hsl(159deg 50% 33%) 63%,
    hsl(160deg 50% 37%) 77%,
    hsl(160deg 50% 42%) 86%,
    hsl(161deg 51% 46%) 93%,
    hsl(161deg 51% 51%) 98%,
    hsl(162deg 51% 55%) 101%,
    hsl(162deg 51% 60%) 102%,
    hsl(163deg 52% 64%) 100%
  );

  --gradient-dusk: linear-gradient(
    180deg,
    hsl(163deg 52% 64%) 0%,
    hsl(162deg 51% 60%) 42%,
    hsl(162deg 51% 55%) 63%,
    hsl(161deg 51% 51%) 77%,
    hsl(161deg 51% 46%) 86%,
    hsl(160deg 50% 42%) 93%,
    hsl(160deg 50% 37%) 98%,
    hsl(159deg 50% 33%) 101%,
    hsl(159deg 49% 28%) 102%,
    hsl(158deg 49% 24%) 100%
  );
}
