:root {
  --grid-max-inline-size: 76rem;
  --content-max-inline-size: clamp(18rem, 90cqi, var(--grid-max-inline-size));
  --content-wrapper-background: limegreen;
  --content-wrapper-vertical-padding: 2rem;
  --content-space-between: 2rem;
  --content-text-max-inline-size: 65ch;
}

.content {
  margin-inline: auto;
  max-inline-size: var(--content-max-inline-size);
}

.content-wrapper {
  background-color: var(--content-wrapper-background);
  padding-block: var(--content-wrapper-vertical-padding);
}

.content + .content,
.content-wrapper + .content,
.content + .content-wrapper {
  margin-block-start: var(--content-space-between);
}

.content-text {
  margin-inline: auto;
  max-inline-size: var(--content-text-max-inline-size);
}
