---
import Page from '../../components/templates/Page.astro'
import AllCharacters from '../../components/organisms/AllCharacters.astro'
---

<Page title="My D&D Characters" description="This is an overview of the D&D characters that I played over the years.">
	<div class="container">
		<h1>All D&D 5e Characters</h1>
		<AllCharacters />
	</div>
</Page>
