---
import FormattedDate from '../atoms/FormattedDate.astro'

const { title, pubDate, updatedDate } = Astro.props
---

<h1>{title}</h1>
{
  updatedDate ? (
    <p>
      Last updated on <FormattedDate date={updatedDate} />
    </p>
  ) : (
    <p>
      Published on <FormattedDate date={pubDate} />
    </p>
  )
}

<style>
  p {
    /* font-style: italic; */
    font-size: var(--step--1);
  }
</style>
