---
import FormattedDate from '../atoms/FormattedDate.astro'

const { slug, data, headlineLevel } = Astro.props
const { title, pubDate } = data

const Heading = headlineLevel || 'h3'
---

<article class="teaser -highlight">
	<div class="teaser_content">
		<a href={`/blog/${slug}/`} class="teaser_link">
			<Heading>{title}</Heading>
		</a>

		<p>
			<small>
				<FormattedDate date={pubDate} />
			</small>
		</p>
	</div>
</article>

<style>
	.teaser {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		position: relative;
		outline: 0.25em solid transparent;
		outline-offset: -0.25em;
		transition: outline-color 0.2s ease-out;

		padding-inline: var(--space-s);
		padding-block: var(--space-s);
	}

	.teaser_content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.teaser:hover,
	.teaser:focus-within {
		outline-color: var(--link-text-color);
	}

	.teaser_link {
		color: var(--link-text-color);
		text-decoration: none;
	}

	.teaser_link:focus {
		outline: 0;
	}

	.teaser_link::after {
		content: '';
		position: absolute;
		inset: 0;
		cursor: pointer;
	}
</style>
