---
import FormattedDate from '../atoms/FormattedDate.astro'

const { slug, data } = Astro.props
---

<article>
  <div class="teaser">
    <div class="teaser_color"></div>

    <div class="teaser_content">
      <a href={`/blog/${slug}/`} class="teaser_link">
        <h3>{data.title}</h3>
      </a>

      <p>
        <small>
          <FormattedDate date={data.pubDate} />
        </small>
      </p>
    </div>
  </div>
</article>

<style>
  article {
    container: article / inline-size;
  }

  .teaser {
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    outline: 0.1em solid transparent;

    display: flex;
    flex-direction: column;

    block-size: 100%;
  }

  .teaser_color {
    block-size: var(--space-xl);
    inline-size: 100%;
  }

  @container (min-width: 25rem) {
    .teaser {
      flex-direction: row;

      border-bottom-left-radius: 0.5rem;
      border-top-right-radius: 0;
    }

    .teaser_color {
      aspect-ratio: auto;
      inline-size: var(--space-xl);
      block-size: auto;
      flex-shrink: 0;
    }
  }

  .teaser_content {
    padding: var(--space-s);
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .teaser:hover,
  .teaser:focus-within {
    outline-color: var(--link-text-color);
  }

  .teaser_link {
    color: var(--link-text-color);
    text-decoration: none;
  }

  .teaser_link:focus {
    outline: 0;
  }

  .teaser_link::after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
</style>
