::view-transition-old(root) {
	animation-delay: 500ms;
}

::view-transition-new(root) {
	animation: circle-in 500ms;
	animation-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
}

@keyframes circle-in {
	from {
		clip-path: circle(0% at 50% 0%);
	}

	to {
		clip-path: circle(150% at 50% 0%);
	}
}

.themeToggle {
	--size: 2rem;
	--icon-fill: var(--link-text-color);
	background: none;
	border: 0;
	padding: 0.2em;
	inline-size: var(--size);
	block-size: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	outline: 0.1em solid transparent;

	background-image: linear-gradient(var(--link-background-color), var(--link-background-color));
	background-repeat: no-repeat;
	background-size: 100% 0;
	background-position: 0 100%;
	transition:
		background-size 0.25s cubic-bezier(0, 0, 0.5, 1),
		outline-color 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.themeToggle:hover {
	background-size: 100% 100%;
	outline-color: var(--link-text-color);
}

.themeToggle:focus {
	outline-color: var(--link-text-color);
}

.themeToggle > svg {
	inline-size: 100%;
	block-size: 100%;
	stroke-linecap: round;
}

/* Sun and Moon Icons */
.sunAndMoon > :is(.moon, .sun) {
	fill: var(--icon-fill);
}

.sunAndMoon > :is(.moon, .sun, .sunBeams) {
	transform-origin: center center;
}

.sunAndMoon > .sunBeams {
	stroke: var(--icon-fill);
	stroke-width: 2px;
}

[data-theme='dark'] .sunAndMoon > .sun {
	transform: scale(1.75);
}

[data-theme='dark'] .sunAndMoon > .sunBeams {
	opacity: 0;
}

[data-theme='dark'] .sunAndMoon > .moon > circle {
	transform: translate(-7px);
}

@supports (cx: 1) {
	[data-theme='dark'] .sunAndMoon > .moon > circle {
		transform: translate(0);
		cx: 16;
	}
}

@media (prefers-reduced-motion: no-preference) {
	@supports (cx: 1) {
		.sunAndMoon .moon > circle {
			transition: cx 0.25s cubic-bezier(0, 0, 0, 1);
		}
	}

	.sunAndMoon > .sun {
		transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
	}

	.sunAndMoon > .sunBeams {
		transition:
			transform 0.5s cubic-bezier(0.5, 1.5, 0.75, 1.25),
			opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);
	}

	.sunAndMoon .moon > circle {
		transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
	}

	[data-theme='dark'] .sunAndMoon > .sun {
		transform: scale(1.75);
		transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
		transition-duration: 0.25s;
	}

	[data-theme='dark'] .sunAndMoon > .sunBeams {
		transform: rotate(-25deg);
		transition-duration: 0.15s;
	}

	[data-theme='dark'] .sunAndMoon > .moon > circle {
		transition-delay: 0.25s;
		transition-duration: 0.5s;
	}
}
