---
const today = new Date()

import Link from '../atoms/Link.astro'
---

<footer>
  <nav>
    <Link href="https://twitter.com/chlorophyllkid" target="_blank">Twitter</Link>
    <Link href="https://indieweb.social/@christophervoigt" target="_blank">Mastodon</Link>
    <Link href="https://github.com/chlorophyllkid" target="_blank">GitHub</Link>
    <Link href="https://codepen.io/chlorophyllkid/" target="_blank">CodePen</Link>
  </nav>
  <p>
    &copy; {today.getFullYear()} Christopher Voigt. All rights reserved.
  </p>
</footer>

<style>
  footer {
    text-align: center;
    padding-block: 1em;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
</style>
