---
const today = new Date()

import Link from '../atoms/Link.astro'
---

<footer>
  <nav aria-label="social media">
    <Link href="https://indieweb.social/@christophervoigt" rel="me">Mastodon</Link>
    <Link href="https://github.com/christophervoigt">GitHub</Link>
    <Link href="https://codepen.io/christophervoigt">CodePen</Link>
  </nav>
  <p>
    &copy; {today.getFullYear()} Christopher Voigt. All rights reserved.
  </p>
</footer>

<style>
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  nav + p {
    margin-block-start: 1em;
  }
</style>
