---
const today = new Date()

import Link from '../atoms/Link.astro'
---

<footer class="container">
	<div class="wrapper">
		<nav aria-label="social media">
			<Link href="https://indieweb.social/@christophervoigt" rel="me">Mastodon</Link>
			<Link href="https://github.com/christophervoigt" rel="me">GitHub</Link>
			<Link href="https://codepen.io/christophervoigt">CodePen</Link>
		</nav>

		<p>
			<small>
				&copy; 2023-{today.getFullYear()} Christopher Voigt
			</small>
		</p>
	</div>
</footer>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--grid-gutter);

		@media (width >= 35rem) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	nav {
		display: flex;
		column-gap: 1em;
	}

	p {
		white-space: nowrap;

		@media (width >= 35rem) {
			justify-self: flex-end;
			text-align: right;
		}
	}
</style>
