---
import Link from '../atoms/Link.astro'
---

<header>
  <nav aria-label="main menu">
    <Link href="/">Home</Link>
    <Link href="/blog">Blog</Link>
    <Link href="/rss.xml">RSS</Link>
  </nav>
</header>

<style>
  h2 {
    margin-block: 0.5em;
  }

  nav {
    display: flex;
    gap: 1em;
  }
</style>
