---
import { SITE_TITLE } from '../../consts'

import Link from '../atoms/Link.astro'
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <Link href="/">Home</Link>
    <Link href="/blog">Blog</Link>
    <Link href="/rss.xml">RSS</Link>
  </nav>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }

  nav {
    display: flex;
    gap: 1em;
  }
</style>