---
import { SITE_TITLE } from '../../consts'

import HeaderLink from '../atoms/HeaderLink.astro'
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/chlorophyllkid" target="_blank">Twitter</HeaderLink>
    <HeaderLink href="https://indieweb.social/@christophervoigt" target="_blank">Mastodon</HeaderLink>
    <HeaderLink href="https://github.com/chlorophyllkid" target="_blank">GitHub</HeaderLink>
  </nav>
</header>
